.bar {
  background-color: #0d0dff;
  padding: 28px;
}

.bar2 {
  background-color: #0000d7;
  padding: 27px;
}

.bouton {
  padding-right: 100px;
  padding-left: 100px;
}

i {
  padding-right: 8px;
}

.sidebar {
  background-color: #f4f4f4;
  top: 100%;
  height: 600px;
}

.col-lg-4 {
  background-color: white;
  padding: 28px;
}

#range1 {
  padding-top: 30px;
  padding-right: 40px;
}

#range2 {
  padding-top: 20px;
  padding-right: 30px;
  background-color: white;
  margin-left: 15px;
  height: 170px;
}

#range3 {
  padding-top: 50px;
}

#range4 {
  background-color: #f4f4f4;
  padding-top: 40px;
}

#range5 {
  background-color: white;
  padding-left: 10px;
}

.input-group {
  padding: 5px;
  position: relative;
}

/* les boutons des reseaux */

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
  background-color: gainsboro;
}

/* header */

#tete {
  background-color: #f1f1f1;
  padding: 4px 5px;
}

.pull-right {
  background-color: #f1f1f1;
}

.btn-group,
.buton {
  padding-left: 10px;
}

/* nnavigation */

ul {
  list-style-type: none;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding-top: 35px;
}

li a:hover {
  background-color: white;
  text-decoration: none;
}

/* main gategories */

.text-center {
  padding-top: 40px;
  padding-bottom: 25px;
}

#macarte {
  width: 100%;
  height: 400px;
  position: relative;
}

.form-delete {
  display: inline-block;
}

